@{
    ViewData["Title"] = "Climbing";
}

    <!-- Header -->
    <header class="text-center py-5">
        <h1>Annelise Anderson's Hobby of Indoor Rock Climbing</h1>
        <h3 class="lead">Climb more worry less</h3>
    </header>

    <!-- Two Photos with Paragraphs -->
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <h2>Top roping</h2>
                <img src="~/img/toprope.jpg" class="img-fluid rounded" alt="Toprope">
            </div>
            <p>
                Top rope climbing (or top roping) is a form of rock climbing where the climber is securely attached to a climbing rope that runs
                through a fixed anchor at the top of the climbing route, and back down to the belayer at the base of the climb.
            </p>
            <p>
                Top roping is what many people think of when they think of rock climbing. You tie into a rope and climb up a tall wall.
                Doing a top rope route is often long and some might compare it to an endurance race. Grip strength endurance is especially important.
                Routes are graded by difficulty starting with 5.7 being the easiest to 5.13b being the hardest(at least in my personal gym other 
                places higher and harder grades).
            </p>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h2>Bouldering</h2>
                <img src="~/img/bouldering.jpg" class="img-fluid rounded" alt="Boulder">
            </div>
            <p>
                Bouldering is a form of free climbing that is performed on small rock formations or artificial rock walls without the 
                use of ropes or harnesses
            </p>
            <p>
                Bouldering is done on a short wall with thick padding bellow. The routes are shorter but because of that
                the types of moves required are often harder. This is because you only have to do them for a short amount of time
                compared to top roping where you are on the wall for much longer. 
                So in this sense bouldering is like a sprint to top ropings long distance running. Bouldering routes difficulty are 
                represented with V0 being the easiest to V10 being the hardest(or sometimes gyms have climbs higher than V10).
            </p>
        </div>
    </div>
</div>
